<h3>Input básicos</h3>
<div>
<mat-form-field>
  <!--definicion de un event binding (keyup)="onKeyUp($event);-->
  <input matInput type="text" placeholder="Nombre" [value]="usuario.nombre" (keyup)="onKeyUp($event);">
</mat-form-field>

</div>

<h3>Prefijos y sufijos</h3>
<div>
<mat-form-field>
  <span matPrefix>+1&nbsp;</span>
  <input matInput type="text" placeholder="Teléfono">
  <span matSuffix>:)</span>
</mat-form-field>

</div>

<h3>
  <mat-form-field>
    <input matInput type="text" placeholder="Dirección">
    <mat-hint>Calle y número de domicilio</mat-hint>
  </mat-form-field>
</h3>