<h3>Botones normales</h3>
<div>
<button mat-button>Básico</button>

</div>
<h3>Botones con elevación</h3>
<div>
  <!--Property binding, la variable disabled se le esta pasando una propiedad de angular definida en un componente
  que en este caso en material-button.component-->
<button mat-raised-button [disabled]="!formulario.valido">Básico</button>

</div>
<h3>Botones con Icones</h3>
<div>
<button mat-icon-button>
  <mat-icon>grade</mat-icon>
</button>

</div>

<h3>Botones de acción flotantes  </h3>
<div>
  <button mat-fab>
    <mat-icon>add</mat-icon>
  </button>
</div>